*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "BebasNeue-Regular";
    scroll-behavior: smooth;
}
@font-face {
    font-family: "BebasNeue-Regular";
    src: url("./ressources/fonts/BebasNeue-Regular.ttf") format("truetype");
}
   
body{
    background-color: black;
    color: white;
}
.hey_listen{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b0b0b;
    color: #efefef;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    z-index: 2;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 18px;
    width: 70%;
    max-width: 500px;
    border: 2px solid #efefef;
    animation: fadeIn 2s;
  }
  /* pop-up */

.contenues{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.en-tete{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.en-tete{
    animation: fadeIn 2s;
    z-index: 1;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.en-tete > div{
    text-align: center;
    padding: 100px;
    width: 100%;
}
.en-tete > p{
    height: 40vh;
    border: 1px solid white;
}
.en-tete > div > h1{
    color: red;
    font-size: 150px;
    margin: 0;
}
.en-tete > div > p, .en-tete > div > div > p{
    font-size: 25px;
    margin: 0;
}
.en-tete > div > div{
    margin: 75px 0;
}
.en-tete > div > div > p{
    margin: 25px 0;
}
.en-tete > div > div > a{
    border: 2px solid white;
    padding: 10px;
    margin: 50px 0 !important;
    border-radius: 20px;
    text-decoration: none;
    color: red;
    background-color: white;
    font-size: 25px;
}

.conditions, .conditions > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0px 20px;
}
.conditions{
    position: absolute;
    bottom: 15%;
    flex-direction: column;
}

/* Phone */
@media (min-width: 100px) and (max-width: 1000px)
{
    .en-tete{
        flex-direction: column;
        height: 95vh;
    }
    .en-tete > div{
        padding: 10px;
    }
    .en-tete > div > div{
        margin: 5px 0;
    }
    .en-tete > p {
        width: 80%;
        height: 0;
    }
    .conditions{
        background-color: rgb(22, 19, 19);
        width: 100%;
        padding: 5% 0;
        bottom: 0;
    }
    .conditions, .conditions > ul{
        flex-wrap: wrap;
        font-size: 15px;
        gap: 10px;
    }
    .conditions > ul{
        padding: 5px 20px;
    }
}

