*, ::before, ::after{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style: none;
 font-family: "BebasNeue-Regular";
 scroll-behavior: smooth !important;
 scroll-behavior: smooth !important;
}
@font-face {
    font-family: "BebasNeue-Regular";
    src: url("fonts/BebasNeue-Regular.ttf") format("truetype");
}

/* pop-up */
.hey_listen{
    position: fixed;
    background-color: #0b0b0b;
    color: #efefef;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #efefef;
    z-index: 2;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 20px;
    transition: opacity 1s ease-out;
    width: 65%;
    max-width: 500px;
  }
  .hey_listen > span {
    position: absolute;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 100%;
    padding: 1px 5px;
    top: 10px;
    right: 10px;
  }
  /* pop-up */
  
/* test */

.item > img{
    width: 100%;
    height: 80%;
}
.carousel_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#carousel {
    /* overflow-x: auto; */
    overflow: hidden;
    scroll-behavior: auto;
    padding: 0 20%;
}
#carousel:first-child{
    align-self: flex-start;
}
.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 auto;
    width: 300px;
    margin-left: 10px;
    background-color: #000000;
    padding: 0 10px;
}
.item > p {
    position: absolute;
    z-index: 1;
    font-size: 25px;
    text-align: center;
}
.item > img{
    opacity: 0.5;
    flex: 0 0 auto;
}

/* test */


body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}

/* slider */
.slider {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 375px;
    width: 100%;
    margin-top: 0;
}
    .prev, .next{
    position: absolute;
    cursor: pointer;
    font-size: 75px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    color: white;
    top: 65px;
    z-index: 2;
  }
  .prev{
    left: 10%;
  }
  .next{
    right: 10%;
  }
  
.slide_style {
    margin-top: 0;
    position: absolute;
    opacity: 0.5;
    max-width: 35%;
    transition: all 0.5s ease;
}
.slide_style > img{
    width: 100%;
    aspect-ratio: 16/9;
}
.slide_style > p{
    margin: 5px 5%;
    opacity: 0;
}
.active {
    opacity: 1;
    z-index: 1;
    width: 100%;
    transition: all 0.5s ease;
    transform: scale(1);
}
.active > p{
    transition: opacity 0.5s ease;
    opacity: 1;
}


/* FIN slider */


/* loader */
.loader{
    top: 0px;
    height: 100vh !important;
    font-size: 5rem;
    z-index: 5;
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    transition: opacity 1s ease;
    animation: loader_depop 1.5s ease;
}
@keyframes loader_depop {
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.cercle{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    position: fixed;
    width: 125px; 
    height: 125px;
    min-width: 125px;
    min-height: 125px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: red;
    animation: spin 2s linear infinite;
}
.circle::before, .circle::after{
    content: "";
    position: fixed;
    border-radius: 50%;
    border: 7px solid transparent;
}
.circle::before{
    top: 7px;
    left: 7px;
    bottom: 7px;
    right: 7px;
    border-top-color: crimson;
    animation: spin 3s linear infinite;
}
.circle::after{
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    border-top-color: pink;
    animation: spin 1.5s linear infinite;
}
#loader{
    display: flex;
    flex-direction: column;
}
@keyframes loader {
    100%{
        transform: translateY(-30px);
    }
}
@keyframes spin {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
/* FIN loader */

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav_container > div > .titre{
    color: red;
    font-size: 5rem;
    text-decoration: none;
}
.nav_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}
.categories{
    display: none;
}

.nav_container > *{
    margin: 10px;
    cursor: pointer;
}

div{
    min-width: 250px;
    min-height: 100px;
    text-align: center;
    margin-top: 50px;
}

li > button{
    background-color: black;
    border: 2px solid black;
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.program_container{
    margin: 0%;
}

li > img{
    min-width: 350px;
    min-height: 200px;
    opacity: 0.8;
    transition: min-width 0.5s, min-height 0.5s, transform 1s, opacity 0.5s;
}
img {
    max-width: 350px;
    max-height: 200px;
}

div > div > ul > li > p {
    opacity: 0;
    position: absolute;
    width: 80%;
    z-index: 2;
    margin-top: 5%;
    margin-left: 0%;
    text-align: center;
}

.types_containers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.program_container > ul > li{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0;
}
#autres{
    position: relative;
}
#autres > ul > li > p{
    font-size: 2rem;
}

div > div > ul > li:hover p {
    opacity: 1;
    transition: opacity 0.2s;
}

.program_container:hover img {
    opacity: 0.6;
}

.go_to_top {
    margin-top: 175px; 
    margin-bottom: 100px;
}
.go_to_top > button {
    outline: 4px solid white;
    font-size: 3.5rem;
    padding: 15px 40px 15px 40px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 100%;
}

.onTop{
    animation: arrow_up 2.5s ease infinite;
    transform: translateY(2px);
}
@keyframes arrow_up {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}

.pc{
    display: none;
}
/* Phone */
@media (min-width: 100px) and (max-width: 1000px)
{
   .nav{
    margin-top: 50px;
   }
   div{
    margin-top: 20px;
   }
   .go_to_top > button {
    font-size: 2rem;
    padding: 8px 25px 8px 25px;
    } 
    .go_to_top {
        margin-top: 50px; 
        margin-bottom: 50px;
    }
    #carousel{
        padding: 0;
    }
    .slider{
        margin: 0;
    }
}
/* Tablette */
@media (min-width: 1250px)
{
    #carousel {
        display: flex;
    }
    .nav_container > div > .titre {
        font-size: 6.5rem;
    }
    .nav{
        margin-top: 0;
    }
    .circle{
        width: 250px; 
        height: 250px;
    }
}
/* Plus grand que telephone */
@media (min-width: 1250px)
{
    div > div > ul > li > p {
        margin-top: -40px;
        font-size: 18px;
    }
    #autres > ul > li > p {
        margin-top: 0px;
    }
    .pc{
        display: block;
    }
    .phone{
        display: none;
    }
    .nav_container{
        flex-direction: row;
    }
    .categories{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    .nav_container > div > p:last-child{
        display: none;
    }
    .program_container > ul{
        justify-content: space-evenly;
    }
    .program_container > ul > li{
        margin: 20px;
        flex-direction: column;
    }
    .program_container > ul > li > h2{
        padding: 20px 0;
    }
    li > img{
        transition: min-width 0.5s, min-height 0.5s, transform 1s, opacity 0.5s;
        border-radius: 20px;
    }
    li{
        border-radius: 20px;
    }
    li:hover{
        transform: translateY(-5px);
        cursor: pointer;
    }
    li:hover > img{
        opacity: 1;
    }
    .program_container > ul > li:hover{
        box-shadow: 0px 3px 10px rgba(255, 0, 0, 1);
        -webkit-box-shadow: 0px 3px 10px rgba(255, 0, 0, 1);
    }
    #autres > ul > li:hover{
        font-size: 2rem;
        box-shadow: 0px 0px 12px rgb(210, 27, 216);
        -webkit-box-shadow: 0px 0px 12px rgb(210, 27, 216);
    }
    #autres > ul > li:first-child:hover{
        font-size: 2rem;
        box-shadow: 0px 0px 12px rgb(27, 93, 216);
        -webkit-box-shadow: 0px 0px 12px rgb(27, 93, 216);
    }#autres > ul > li:last-child:hover{
        font-size: 2rem;
        box-shadow: 0px 0px 12px rgb(216, 172, 27);
        -webkit-box-shadow: 0px 0px 12px rgb(216, 172, 27);
    }
    #autres > ul > li > p{
        font-size: 2rem;
    }
    ul{
        flex-direction: row;
    }
    .types_containers > p {
        font-size: 35px;
    }
    
    
}

/* Desktop */
@media (min-width: 1550px)
{
    li > img{
        min-width: 400px;
        min-height: 250px;
        transition: min-width 0.5s, min-height 0.5s, transform 1s, opacity 0.5s;
    }
}


